 {% load static %}

{% include 'registration/header.html' %}

<body class="fixed-left">

{% include 'dashboard/dashboard_nav.html' %}

    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">


                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Total Income</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> 8451 </h2>
                                            <p class="text-muted m-b-25">Naira</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>


                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Customer Count</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> 8451 </h2>
                                            <p class="text-muted m-b-25">Customers</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Daily Sales</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-pink pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> 158 </h2>
                                            <p class="text-muted m-b-25">Revenue today</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Daily Sales</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-pink pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> 158 </h2>
                                            <p class="text-muted m-b-25">Revenue today</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="{% static 'dash/images/small/img3.jpg' %}" class="img-responsive img-circle" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600">Chadengle</h4>
                                            <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="{% static 'dash/images/small/img3.jpg' %}" class="img-responsive img-circle" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600"> Michael Zenaty</h4>
                                            <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="{% static 'dash/images/small/img3.jpg' %}" class="img-responsive img-circle" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600">Stillnotdavid</h4>
                                            <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-3 col-md-6">
                                <div class="card-box widget-user">
                                    <div>
                                        <img src="{% static 'dash/images/small/img3.jpg' %}" class="img-responsive img-circle" alt="user">
                                        <div class="wid-u-info">
                                            <h4 class="m-t-0 m-b-5 font-600">Tomaslau</h4>
                                            <p class="text-muted m-b-5 font-13">coderthemes@gmail.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->


                        <div class="row">
                            <div class="col-lg-4">
                            	<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Inbox</h4>

									<div class="inbox-widget nicescroll" style="height: 315px;">
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="{% static 'dash/images/small/img3.jpg' %}" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Chadengle</p>
                                                <p class="inbox-item-text">Hey! there I"m available...</p>
                                                <p class="inbox-item-date">13:40 PM</p>
                                            </div>
                                        </a>
                                    </div>
								</div>
                            </div>

                            <div class="col-lg-8">
                                <div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Service List</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Service Name</th>
                                                <th>Created On</th>
                                                <th>Usage Count</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Adminto Admin v1</td>
                                                    <td>01/01/2016</td>
                                                    <td>26/04/2016</td>
                                                    <td><span class="label label-danger">Released</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

{% include 'dashboard/footer.html' %}
