 {% load static %}

{% include 'registration/header.html' %}

<body class="fixed-left">

{% include 'dashboard/dashboard_nav.html' %}

    <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">


                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Total Income</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0">&#8358; 8451 </h2>
                                            <p class="text-muted m-b-25">Total Income Made</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>


                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Customer Count</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-success pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0"> {{ provider_customers | length }} </h2>
                                            <p class="text-muted m-b-25">Customer(s)</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>

                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Sales Today</h4>

                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-pink pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0">&#8358; 158 </h2>
                                            <p class="text-muted m-b-25">Income today</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                        		<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Sales this month</h4>
                                    <div class="widget-box-2">
                                        <div class="widget-detail-2">
                                            <span class="badge badge-pink pull-left m-t-20">32% <i class="zmdi zmdi-trending-up"></i> </span>
                                            <h2 class="m-b-0">&#8358; 158 </h2>
                                            <p class="text-muted m-b-25">Income this month</p>
                                        </div>
                                    </div>
                        		</div>
                            </div>
                        </div>
                        <div class="row">
                             {% if provider_customers %}
                                 {% for customer in provider_customers %}
                                    <div class="col-lg-3 col-md-6">
                                        <div class="card-box widget-user">
                                            <div>
                                                <img src="{% if customer.image %} {% static 'dash/images/small/customer.image' %} {% else %} {% static 'dash/images/small/img3.jpg' %} {% endif %}" class="img-responsive img-circle" alt="{{ customer.username }}">
                                                <div class="wid-u-info">
                                                    <h4 class="m-t-0 m-b-5 font-600">{{ customer.ordered_by.user_details_id.username | capfirst }}</h4>
                                                    <p class="text-muted m-b-5 font-13">{{ customer.ordered_by.user_details_id.email | capfirst }}</p>
                                                </div>
                                            </div>
                                        </div>
                            {% endfor %}
                            </div>
                                 {% else %}
                                 <h1>You currently have no customer. <br>Your customers would show here.</h1>
                                {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-lg-4">
                            	<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Inbox</h4>

									<div class="inbox-widget nicescroll" style="height: 160px;">
                                    {% if inbox %}
                                        {% for message in inbox %}
                                        <a href="#">
                                            <div class="inbox-item">
                                                <div class="inbox-item-img"><img src="{% static 'dash/images/small/img3.jpg' %}" class="img-circle" alt=""></div>
                                                <p class="inbox-item-author">Chadengle</p>
                                                <p class="inbox-item-text">Hey! there I"m available...</p>
                                                <p class="inbox-item-date">13:40 PM</p>
                                            </div>
                                        </a>
                                        {% endfor %}
                                        {% else %}
                                        <h3>You currently have no messages</h3>
                                    {% endif %}
                                    </div>
								</div>
                            </div>

                            <div class="col-lg-8">
                                <div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Service List</h4>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Service Name</th>
                                                <th>Created On</th>
                                                <th>Status</th>
                                            </tr>
                                            </thead>
                                           {% if provider_services %}
                                            <tbody>
                                                {% for service in provider_services %}
                                                <tr>
                                                    <td>{{ service.id }}</td>
                                                    <td>{{ service.service.service_name }}</td>
                                                    <td>{{ service.request_date | date }}</td>
                                                    <td><span class="label {% if service.status %} label-success {% else %} label-danger {% endif %}"> {% if service.status %} Active {% else %} Not Active {% endif %}</span></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                               {% else %}
                                               <tbody><tr><h3>You currently have no active service</h3></tr></tbody>
                                            {% endif %}
                                        </table>
                                    </div>
                                </div>
                            </div><!-- end col -->

                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div> <!-- content -->

            </div>

{% include 'dashboard/footer.html' %}
