 {% load static %}
    	<script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
        <script src="{% static 'dashboard/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'dashboard/js/detect.js' %}"></script>
        <script src="{% static 'dashboard/js/fastclick.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.slimscroll.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'dashboard/js/waves.js' %}"></script>
        <script src="{% static 'dashboard/js/wow.min.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.nicescroll.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.scrollTo.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'dashboard/js/jquery.core.js' %}"></script>
        <script src="{% static 'dashboard/js/jquery.app.js' %}"></script>

	</body>
