 {% load static %}

<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">


        <link href="{% static 'dash/plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />

        <link href="{% static 'dash/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/multiselect/css/multi-select.css' %}"  rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/plugins/select2/dist/css/select2.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'dash/plugins/select2/dist/css/select2-bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'dash/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

        {% if has_tables %}
            <link href="{% static 'dash/plugins/datatables/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'dash/plugins/datatables/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'dash/plugins/datatables/fixedHeader.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'dash/plugins/datatables/responsive.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
            <link href="{% static 'dash/plugins/datatables/scroller.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        {% endif %}

        {% if has_modal %}<link href="{% static 'dash/plugins/custombox/dist/custombox.min.css' %}" rel="stylesheet">
        {% endif %}

        {% if "settings" in request.path %}
           <link href="{% static 'dash/plugins/fileuploads/css/dropify.min.css' %}" rel="stylesheet" type="text/css" />
        {% endif %}

        {% if "request" in request.path %}

            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

        {% endif %}

        <!-- App CSS -->
        <link href="{% static 'dash/plugins/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/multiselect/css/multi-select.css' %}"  rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/plugins/select2/dist/css/select2.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'dash/plugins/select2/dist/css/select2-bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'dash/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/switchery/switchery.min.css' %}" rel="stylesheet" />
        <link href="{% static 'dash/plugins/timepicker/bootstrap-timepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'dash/plugins/bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">

        <!-- App CSS -->
        <link href="{% static 'dash/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/core.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/components.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/icons.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/pages.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/menu.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'dash/css/responsive.css' %}" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn"t work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="{% static 'dash/js/modernizr.min.js' %}"></script>
<script>
  (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");

  ga("create", "UA-74137680-1", "auto");
  ga("send", "pageview");

</script>
        <title>{{ current_page_title }}</title>
</head>
