{% load static %}

{% include 'registration/header.html' %}

<div class="account-pages"></div>
        <div class="clearfix"></div>
        <div class="wrapper-page">
            <div class="text-center">
                <a href="/" class="logo"><span>Health<span>ier</span></span></a>
            </div>
        	<div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">Registration</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal m-t-20" action="{% url "account_signup" %}" method="POST">
                          {% csrf_token %}
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" type="email" name="email" required placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" type="password" name="password" required placeholder="Password">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <select class="form-control" name="account_type">
                                    <option name="provider">Provider</option>
                                    <option name="consumer">Consumer</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group text-center m-t-30">
                            <div class="col-xs-12">
                                <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light" type="submit">Sign Up</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <!-- end card-box-->

            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="text-muted">Already have an account? <a href="{% url "account_login" %}"  class="text-primary m-l-5"><b>Sign In</b></a></p>
                </div>
            </div>

        </div>

{% include 'registration/footer.html' %}
