<section class="section-wrap pb-90" id="faq">
        <div class="container">
          <div class="heading-row text-center">
            <h2 class="heading">Frequently asked questions</h2>
          </div>
          <div class="row">

            <div class="col-sm-12 col-sm-offset-1">
                {% for faq in faqs %}
              <h4 class="faq__title">{{ faq.question }}</h4>
              <p class="faq__text">{{ faq.answer }}</p>
                {% endfor %}
            </div>

          </div>
        </div>
      </section>
