{% load static %}
 <footer class="footer">
        <div class="container">
          <div class="footer__widgets">
            <div class="row">
              <div class="col-md-6 col-md-offset-2">
                <div class="widget widget-links">
                  <h5 class="widget-title">Product</h5>
                  <ul class="list-no-dividers">
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Providers</a></li>
                    <li><a href="#">Consumers</a></li>
                    <li><a href="#">Suggest Service</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-md-4">
                <div class="widget widget-links">
                  <h5 class="widget-title">Support</h5>
                  <ul class="list-no-dividers">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Support Policy</a></li>
                    <li><a href="#">F.A.Q</a></li>
                    <li><a href="#">Privacy &amp; Terms</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- end container -->

        <div class="footer__bottom top-divider">
          <div class="container text-center">
            <span class="copyright">
              &copy; 2017 Healthier
            </span>
          </div>
        </div> <!-- end footer bottom -->
      </footer>

      <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->


  <!-- jQuery Scripts -->
  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>

</body>
