 {% load static %}

{% include 'registration/header.html' %}

 <body class="fixed-left" xmlns="http://www.w3.org/1999/html">

{% include 'dashboard/dashboard_nav.html' %}

            <div class="content-page">
                <div class="content">
                    <div class="container">

                        <div class="row">
							<div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Clinic Health Data</h4>
                                    <p class="text-muted font-13 m-b-15">
                                        This contains details about the clinic you have registered with over time.</p>
                                    <table class="table table-striped m-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Clinic Name</th>
                                                <th>Clinic Email</th>
                                                <th>Clinic Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in clinical_detail %}
                                            <tr>
                                                <th scope="row">{{ data.id }}</th>
                                                <td>{{ data.clinic_name }}</td>
                                                <td>{{ data.clinic_email }}</td>
                                                <td>{{ data.clinic_address }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Ailment Data</h4>

                                    <p class="text-muted font-13 m-b-15">
                                        Data about any ailment you uploaded at any point.
                                    </p>

                                    <table class="table table-striped m-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Ailment</th>
                                                <th>Description</th>
                                                <th>Drug</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in ailment_detail %}
                                            <tr>
                                                <th scope="row">{{ data.id }}</th>
                                                <td>{{ data.ailment_name }}</td>
                                                <td>{{ data.ailment_description }}</td>
                                                <td>{{ data.ailment_medication }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

								</div>
							</div>

						</div>
                        <div class="row">
                        	<div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Systolic Blood Graph</h4>
                                        <input type="hidden" value="{{ blood_detail }}" id="blood">
									<div id="dia_blood" class="ct-chart ct-golden-section"></div>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Diastolic Blood Graph</h4>
                                        <input type="hidden" value="{{ blood_detail }}" id="blood">
									<div id="sys_blood" class="ct-chart ct-golden-section"></div>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Random Blood Sugar Graph</h4>
                                        <input type="hidden" value="{{ blood_detail }}" id="blood">
									<div id="rand_blood" class="ct-chart ct-golden-section"></div>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Fasting Blood Sugar</h4>
                                        <input type="hidden" value="{{ blood_detail }}" id="blood">
									<div id="fast_blood" class="ct-chart ct-golden-section"></div>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="card-box">
                        			<h4 class="header-title m-t-0 m-b-30">Miscellaneous Health Data</h4>

                                    <p class="text-muted font-13 m-b-15">
                                       Miscellaneous health data information
                                    </p>

                                    <table class="table table-striped m-0">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Weight(kg)</th>
                                                <th>Cholesterol</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in misc_detail %}
                                            <tr>
                                                <th scope="row">{{ data.id }}</th>
                                                <td>{{ data.user_weight }}</td>
                                                <td>{{ data.user_cholesterol }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

								</div>
							</div>

						</div>
                    </div> <!-- container -->

                </div> <!-- content -->
            </div>

{% include 'dashboard/footer.html' %}
