{% load static %}

{% include 'registration/header.html' %}


<body class="fixed-left" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% include 'dashboard/dashboard_nav.html' %}

  <div class="content-page">
                <div class="content">
                    <div class="container">
                        <div class="row">
                            {% for service in paid_services %}
                            <div class="col-lg-4">
                                <div class="card-box project-box">
                                    <div class="label label-success">Paid</div>
                        			<h4 class="m-t-0 m-b-5"><a href="#" class="text-inverse">
                                        {{ service.service.name }}</a></h4>
                                    <p class="text-success text-uppercase m-b-20 font-13">
                                        {{ service.service.service_name }}</p>
                                    <p class="text-muted font-13">{{ service.service.details }}</p>
                                    <ul class="list-inline">
                                        <li>
                                            <h3 class="m-b-0">{{ service.order_date|date }}</h3>
                                            <p class="text-muted">Ordered On</p>
                                        </li>
                                        <li>
                                            <h3 class="m-b-0">{{ service.confirmed }}</h3>
                                            <p class="text-muted">Provider Confirmation</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

                </div>

            </div>

{% include 'registration/footer.html' %}
