{% load static %}

{% include "header.html" %}

  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    {% include 'nav.html' %}

    <div class="content-wrapper oh">

      <!-- Hero -->
      <section class="hero bg-img bg-gradient white-text" style="background-image: url(img/hero/hero_1.jpg);">

        <div class="container  hero__container container-full-height">

        <div class="row hero__outer flex-vertical-align-center">
            <div class="col-md-12">
                <div class="">
                <form class="relative mt-20">
                  <input type="text" class="newsletter__input" style="width: 100%;" placeholder="Search for a service">
                </form>
                    <input type="submit" class="btn btn--secondary-color btn--button newsletter__submit" value="Search">

            </div>
            </div>
          </div>
        </div>
      </section> <!-- end hero -->

        <section class="section-wrap pt-70 pb-120 bg-light" id="services">
        <div class="container">
          <div class="row items-grid">

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-computer-screen-1 article__icon"></i>
                <h3 class="article__title">Getting Started</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-windows-1 article__icon"></i>
                <h3 class="article__title">Payments &amp; Billing</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-user article__icon"></i>
                <h3 class="article__title">Account Management</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-briefcase article__icon"></i>
                <h3 class="article__title">Addons</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-cog article__icon"></i>
                <h3 class="article__title">API</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-paint-bucket article__icon"></i>
                <h3 class="article__title">Styling</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-lock-locked article__icon"></i>
                <h3 class="article__title">Security</h3>
              </a>
            </div>

            <div class="col-md-3">
              <a href="#" class="article box-shadow">
                <i class="ui-wrenches article__icon"></i>
                <h3 class="article__title">Managing Storage</h3>
              </a>
            </div>

          </div>
        </div>
      </section> <!-- end articles -->


    </div> <!-- end content wrapper -->
  </main>

{% include "footer.html" %}
