{% load static %}

{% include "header.html" %}

  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    {% include 'nav.html' %}

      <div class="content-wrapper">

      <!-- Hero -->
      <section class="hero bg-green">
        <div class="container hero__container hero__container--720">

          <div class="row hero__outer flex-vertical-align-center">
            <div class="col-lg-12  col-md-5 col-xs-12">
              <div class="optin optin--mt-minus-30 text-center">
                <h1 class="optin__title">Enjoy the best health care services from seasoned service providers.</h1>
                  <p class="optin__text lead">Call to action place holder </p>
            </div>
          </div>
        </div>
        </div>
      </section>
        <section class="section-wrap pt-70 pb-120 bg-light" id="services">
        <div class="container">
          <div class="row items-grid">

              {% for service in services %}
                    <div class="col-md-3">
                      <a href="{% url 'service:service' service.id %}" class="article box-shadow">
                        <i class="ui-computer-screen-1 article__icon"></i>
                        <h3 class="article__title">{{ service.service_name }}</h3>
                      </a>
                    </div>
              {% endfor %}
          </div>
        </div>
      </section>


    </div> <!-- end content wrapper -->
  </main>

{% include "footer.html" %}
