{% load static %}

{% include "header.html" %}

  <main class="main-wrapper">

   {% include 'nav.html' %}


    <div class="content-wrapper oh ">
      <section class="section-wrap pb-100" id="benefits">
        <div class="container">
          <div class="heading-row text-center">
            <h2 class="heading">As a consumer, you enjoy</h2>
          </div>
          <div class="row">

            <div class="col-sm-6">
              <div class="benefit">
                <i class="benefit__icon ui-check"></i>
                <p class="benefit__text lead">An idea that takes <strong>the parts of a structure</strong> and turns them into a whole system. Practice is the frequent and continued contemplation of the mode of executing any given work, or of the mere operation of the hands.</p>
              </div>
            </div> <!-- end col -->


            <div class="col-sm-6 mb-sm-40">
              <div class="benefit">
                <i class="benefit__icon ui-check"></i>
                <p class="benefit__text lead">An idea that takes the parts of a structure and turns them into a whole system. Practice is the frequent and continued contemplation of the <strong>mode of executing</strong> any given work, or of the mere operation of the hands.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-wrap bg-light bottom-divider" id="testimonials">
        <div class="container">
          <div class="heading-row text-center">
            <h2 class="heading">Testimonials</h2>
          </div>

          <div class="row">

            <div id="owl-testimonials" class="owl-carousel owl-theme">

              <div class="testimonial__wrap">
                <div class="testimonial box-shadow text-center clearfix">
                  <div class="testimonial__body">
                    <p class="testimonial__text">“I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat.”</p>
                  </div>
                  <div class="testimonial__info">
                    <span class="testimonial__author">Christine Clark</span>
                  </div>
                </div>
              </div>


              <div class="testimonial__wrap">
                <div class="testimonial box-shadow text-center clearfix">
                  <div class="testimonial__body">
                    <p class="testimonial__text">“I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat.”</p>
                  </div>
                  <div class="testimonial__info">
                    <span class="testimonial__author">Christine Clark</span>
                  </div>
                </div>
              </div>


              <div class="testimonial__wrap">
                <div class="testimonial box-shadow text-center clearfix">
                  <div class="testimonial__body">
                    <p class="testimonial__text">“I’am amazed, I should say thank you so much for your awesome template. Design is so good and neat.”</p>
                  </div>
                  <div class="testimonial__info">
                    <span class="testimonial__author">Christine Clark</span>
                  </div>
                </div>
              </div>

            </div> <!-- end of slider -->

          </div>
        </div>
      </section> <!-- end testimonials -->

                {% include 'faq.html' %}

    {% include "newsletter.html" %}


      <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div>
  </main>
{% include "footer.html" %}
