{% load static %}

{% include "header.html" %}

  <main class="main-wrapper">

   {% include 'nav.html' %}
            <section class="section-wrap bg-light bottom-divider" id="testimonials">
                <div class="container">
                  <div class="heading-row text-center">
                    <h2 class="heading">Services</h2>
                  </div>
                {% if services %}
                    {% for service in services %}
                      <div class="row">
                        <div id="owl-testimonials" class="owl-carousel owl-theme">
                          <div class="testimonial__wrap">
                            <div class="testimonial box-shadow text-center clearfix">
                                <span class="testimonial__author">{{ service.service_id.email }}</span>
                              <div class="testimonial__body">
                                <p class="testimonial__text">{{ service.service_id.description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                {% else %}
                    <h5 class="text-center">{{ provider.name }} currently has no services.</h5>
                {% endif %}
        </div>
            </section>

                  <section class="section-wrap pb-90" id="faq">
        <div class="container">
          <div class="heading-row text-center">
            <h2 class="heading">Frequently asked provider question</h2>
          </div>
          <div class="row">

            <div class="col-sm-5 col-sm-offset-1">
              <h4 class="faq__title">14-day trial</h4>
              <p class="faq__text">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean e-commerce template.</p>

              <h4 class="faq__title">Recovering an expired account</h4>
              <p class="faq__text">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean e-commerce template.</p>
            </div>

            <div class="col-sm-5">
              <h4 class="faq__title">Payments</h4>
              <p class="faq__text">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean e-commerce template.</p>

              <h4 class="faq__title">Canceling subscription</h4>
              <p class="faq__text">Our Theme is a very slick and clean e-commerce template with endless possibilities. Creating an awesome website with this Theme is easy than you can imagine. Our Theme is a very slick and clean e-commerce template.</p>
            </div>

          </div>
        </div>
      </section>
  </main>


{% include "footer.html" %}
