{% load static %}

{% include "header.html" %}

  <main class="main-wrapper">

   {% include 'nav.html' %}


    <div class="content-wrapper oh ">
        <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__outer">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">Healthier Providers</h1>
                <p class="page-title__subtitle lead">Provide the best health services to health care facilities across the country.</p>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="section-wrap pt-70 pb-130 bg-light">
        <div class="container">
          <div class="row row-60 items-grid">
                  {% for provider in providers %}
                    <div class="col-md-4 col-xs-6 col-xxs-12">
                      <a href="{% url 'provider:provider'  provider.id %}" class="box-shadow">
                        <div class="feature-1__icon-holder feature-1__icon-holder--green text-center">
                        <i class="fa fa-{{ icons | random}} feature-1__icon fa-5x"></i>
                        </div>
                        <div class="feature-1__base">
                          <h3 class="feature-1__title">{{ provider.healthier_id.username | capfirst }}</h3>
                          <p class="feature-1__paragraph">{{ provider.healthier_id.description }}</p>
                        </div>
                      </a>
                    </div>
                  {% endfor %}
          </div>
        </div>
      </section>

    {% include 'faq.html' %}

    {% include "newsletter.html" %}
      <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
      </div>
    </div>
  </main>


{% include "footer.html" %}
