{% load static %}

{% include "header.html" %}

  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">
    {% include 'nav.html' %}
      <div class="content-wrapper oh">
      <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__outer">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">Healthier Services</h1>
                <p class="page-title__subtitle lead">Below is a curation of services currently available</p>
              </div>
            </div>
          </div>

        </div>
      </section>
       <section class="section-wrap pt-70 pb-130 bg-light">
        <div class="container">
            {% if services %}
              <div class="row row-60 items-grid">
              {% for service in services %}
                <div class="col-md-4 col-xs-6 col-xxs-12">
                  <a href="{% url 'service:service' service.id %}" class="box-shadow">
                    <div class="feature-1__icon-holder feature-1__icon-holder--blue text-center">
                        <i class="fa fa-{{ service_icon | random}} feature-1__icon fa-5x"></i>
                    </div>
                    <div class="feature-1__base">
                      <h3 class="feature-1__title">{{ service.service_name }}</h3>
                      <p class="feature-1__paragraph">{{ service.details }}</p>
                    </div>
                  </a>
                </div>
              {% endfor %}
              </div>
            {% endif %}
        </div>
      </section>

{% include "footer.html" %}
