{% load static %}

{% load prices %}


{% include "header.html" %}

  <main class="main-wrapper">

   {% include 'nav.html' %}


    <div class="content-wrapper oh ">
        <section class="page-title bottom-divider text-center">
        <div class="container">

          <div class="page-title__outer">
            <div class="page-title__inner">
              <div class="page-title__holder">
                <h1 class="page-title__title">{{ category.category_name }}</h1>
                <p class="page-title__subtitle lead">{{ category.category_description }}</p>
              </div>
            </div>
          </div>

        </div>
      </section>
     <section class="section-wrap bg-light bottom-divider">
         {% if not services %}
             <div class="container">
                            <h5 class="text-center">There is currently no service in this category.</h5>
             </div>
         {% else %}
         <h1 class="text-center bg-light">Services in this Category</h1>
             <div class="container">
          <div class="row">
              {% for service in services %}
            <div class="col-md-4 mb-md-20">
              <div class="testimonial box-shadow text-center clearfix">
                <div class="testimonial__body">
                  <p class="testimonial__text">{{  service.service_name | capfirst}}</p>
                </div>
                <div class="testimonial__info">
                  <span class="testimonial__author">Price:</span>
                  <span class="testimonial__company">&#8358; {{ providers.price.gross }}</span>
                </div>
                 <div class="testimonial__info">
                      <span class="testimonial__author">Orders:</span>
                      <span class="testimonial__company">{{ service.orders }}</span>
                </div>
                   <div class="testimonial__info">
                      <span class="testimonial__author">Views:</span>
                      <span class="testimonial__company">{{service.views}}</span>
                </div>
                  <br>
                  <div class="btn--google align-bottom">
                    <a href="{% url 'dashboard:render_service' %}?service={{ service.id }}" class="btn btn--lg"><span>Render Service</span></a>
                  </div>
                  <br>
                  <div class="btn--google align-bottom">
                    <a href="{% url 'dashboard:order_service_step' action="chooseProvider" %}?service={{ service.id }}&providers={{ providers.requested_by_id }}" class="btn btn--lg"><span>Request Service</span></a>
                  </div>
              </div>

            </div>
                {% endfor %}
          </div>
        </div>
         {% endif %}
      </section>
    </div>
  </main>


{% include "footer.html" %}
