 {% load static %}
{% load paystack %}
{% load widget_tweaks %}

{% include 'registration/header.html' %}
<body class="fixed-left">

{% include 'dashboard/dashboard_nav.html' %}
             <div class="content-page">
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="pull-right m-t-30">
                                                    <p><strong>Order Date: </strong>{% now "" %} </p>
                                                    <p class="m-t-10"><strong>Order Status: </strong> <span class="label label-pink">Pending</span></p>
                                                    <p class="m-t-10"><strong>Order ID: </strong> #{{ order_check_out_id }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr><th>#</th>
                                                            <th>Service</th>
                                                            <th>Description</th>
                                                            <th>Added On</th>
                                                            <th>Unit Cost</th>
                                                            <th>Count</th>
                                                            <th>Total</th>
                                                            <th>Action</th>
                                                        </tr></thead>
                                                        <tbody>
                                                            {% for details in service_details %}
                                                            <tr>
                                                                <td>1</td>
                                                                <td>{{ details.service.service_name }}</td>
                                                                <td>{{ details.service.details }}</td>
                                                                <td>{{ details.order_date  | date }}</td>
                                                                <td>&#8358;{{ details.price.gross }}</td>
                                                                <td>{{ members_count }}</td>
                                                                <td>{{ total }}</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-danger waves-effect waves-light">Remove</a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <div class="clearfix m-t-40">
                                                    <h5 class="small text-inverse font-600">PAYMENT TERMS AND POLICIES</h5>

                                                    <small>
                                                        All accounts are to be paid within 7 days from receipt of
                                                        invoice. To be paid by cheque or credit card or direct payment
                                                        online. If account is not paid within 7 days the credits details
                                                        supplied as confirmation of work undertaken will be charged the
                                                        agreed quoted fee noted above.
                                                    </small>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-6 col-md-offset-3">
                                                <p class="text-right"><b>Sub-total:</b>&#8358; {{ price_sum.price__sum.gross }} </p>
                                                <hr>
                                                <h3 class="text-right">&#8358; {{ price_sum.price__sum.gross }} </h3>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="hidden-print">
                                            <div class="pull-right">
                                                <a href="{% url 'dashboard:dashboard_all_services' %}" class="btn btn-primary waves-effect waves-light">Browse More Services</a>
                                                <a href="javascript:window.print()" class="btn btn-success waves-effect waves-light"><i class="fa fa-print"></i> Print </a>

                                                <br>
                                                <br>
                                                {% paystack_button button_class="btn btn-googleplus waves-effect waves-light" amount=price_sum.price__sum.gross email=request.user.email %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div> <!-- container -->

                </div> <!-- content -->
            </div>

{% include 'dashboard/footer.html' %}
