 {% load static %}
{% load widget_tweaks %}

{% include 'registration/header.html' %}
 <body class="fixed-left" xmlns="http://www.w3.org/1999/html">

{% include 'dashboard/dashboard_nav.html' %}
            <div class="content-page">
                <div class="content">
                    <input type="hidden" value="{{ user }}" id="user_details">
                    <div class="container">
                        <div class="row">
                        	<div class="col-sm-12">
                                <form class="form-horizontal" role="form" method="POST" action="{% url 'dashboard:generate_report' %}?order={{ order.id }}" enctype="multipart/form-data">
                                                                          {% csrf_token %}
                        			<div class="row">
                                       <div id="custom-modal">
                                            <h4 class="custom-modal-title">Fill the details below to generate report for this service.</h4>
                                            <div class="custom-modal-text text-left">
                                                <div class="form-group check_now">
                                                     <div class="after-add-more-key">
                                                        <label class="measured col-md-2 control-label">Designation</label>
                                                        <div class="col-sm-4">
                                                            <input type="text" name="fillers_designation" class="form-control" required>
                                                             <span class="help-block"><small>Designation of the person filling this report</small></span>
                                                        </div>
                                                         <div class="copy_value col-sm-4 after-add-more-value">
                                                            <input type="text" name="fillers_name" class="form-control" required>
                                                             <span class="help-block"><small>Name of the person filling the report</small></span>
                                                        </div>
                                                     </div>
	                                            </div>
                                                 <div class="form-group check_now">
                                                     <div class="after-add-more-key">
                                                        <label class="measured col-md-2 control-label">Measured Values</label>
                                                        <div class="col-sm-2">
                                                            <input type="text" name="measured_value_key" class="form-control">
                                                             <span class="help-block"><small>What was measured?</small></span>
                                                        </div>
                                                         <div class="copy_value col-sm-2 after-add-more-value">
                                                            <input type="text" name="measured_value_value" class="form-control">
                                                             <span class="help-block"><small>What is the lower range of this measurement?</small></span>
                                                        </div>
                                                         <div class="copy_value col-sm-2 after-add-more-value">
                                                            <input type="text" name="lower_range_measured" class="form-control">
                                                             <span class="help-block"><small>What is the upper range of this measurement?</small></span>
                                                        </div>
                                                         <div class="copy_value col-sm-2 after-add-more-value">
                                                            <input type="text" name="upper_range_measured" class="form-control">
                                                             <span class="help-block"><small>What was the measured value?</small></span>
                                                        </div>
                                                         <div class="col-sm-2">
                                                             <button class="btn btn-success add-more" type="button"><i class="glyphicon glyphicon-plus"></i></button>
                                                             <button class="btn btn-danger add-more" type="button"><i class="glyphicon glyphicon-minus"></i></button>
                                                        </div>
                                                     </div>
	                                            </div>
                                                <div class="form-group">
	                                                <label for="report" class="col-md-2 control-label">Report</label>
	                                                <div class="col-md-10">
                                                        <textarea rows="6" name="report_summary" id="description" class="form-control" required></textarea>
	                                                     <span class="help-block"><small>Report Summary</small></span>
                                                    </div>
	                                            </div>
                                                 <div class="form-group">
	                                                <label class="col-md-2 control-label">Report File</label>
                                                        <div class="col-md-10">
                                                            <div class="card-box">
                                                                <input type="file" name="report_file" class="dropify" data-height="100" />
                                                            </div>
                                                        </div>
	                                                </div>
                                                <button type="submit" class="btn btn-lg btn-googleplus waves-effect waves-light">Generate Report</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
{% include 'dashboard/footer.html' %}
