 {% load static %}

{% include 'registration/header.html' %}

<body class="fixed-left">
{% include 'dashboard/dashboard_nav.html' %}
            <div class="content-page">
                <div class="content">
                    <div class="container">
                     <div class="row">
                        	<div class="col-sm-4">
                        		 <a href="{% url 'dashboard:dashboard_all_services' %}"
                                    class="btn btn-success btn-md waves-effect waves-light m-b-30" data-animation="fadein" data-plugin="custommodal"
                                    data-overlaySpeed="200" data-overlayColor="#36404a"><i class="md md-add"></i> Add
                                     Service</a>
                        	</div>
                        </div>
                        <div class="row">
                            {% if user.account_type == "PRO" %}
                            {% for service in user_services %}
                            <div class="col-lg-4">
                                <div class="card-box project-box">
                        			<h4 class="m-t-0 m-b-5"><a href="#" class="text-inverse">{{ service.service.service_name }}</a></h4>
                                    <p class="text-success text-uppercase m-b-20 font-13">{{ service.service.group.group_name }}</p>
                                    <p class="text-muted font-13">{{ service.service.details }}
                                    </p>

                                    <ul class="list-inline">
                                        <li>
                                            <h3 class="m-b-0">{{ service.orders }}</h3>
                                            <p class="text-muted"></p>
                                        </li>
                                        <li>
                                            <h3 class="m-b-0">&#8358; 452</h3>
                                            <p class="text-muted">Income Generated</p>
                                        </li>
                                        <li>
                                           <a href="{% url 'dashboard:service_report' %}?service={{ service.service.id }}" class="btn btn-small btn-success waves-effect waves-light">View Complete Service Report</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                                {% else %}
                                    {% for service in user_services %}
                            <div class="col-lg-6">
                                <div class="card-box project-box">
                        			<h4 class="m-t-0 m-b-5"><a href="#" class="text-inverse">{{ service.service.service_name }}</a></h4>
                                    <p class="text-success text-uppercase m-b-20 font-13">{{ service.service.group.group_name }}</p>
                                    <p class="text-muted font-13">{{ service.service.details }}
                                    </p>

                                    <ul class="list-inline">
                                        <li>
                                            <h3 class="m-b-0">{{ service.service.orders }}</h3>
                                            <p class="text-muted">Orders</p>
                                        </li>
                                        <li>
                                            {% if service.is_active %}
                                                <h3 class="m-b-0">Active</h3>
                                            {% else %} Inactive {% endif %}
                                            <p class="text-muted">Status</p>
                                        </li>
                                        <li>
                                           <a href="{% url 'dashboard:service_report' %}?service={{ service.service.id }}" class="btn btn-small btn-success">View Complete Service Report</a>
                                           <a href="{% url 'dashboard:order_service_step' 'confirmRenew' %}?service={{  service.service_id }}&provider={{ service.requested_by.healthier_id.id }}"  class="btn btn-small btn-danger makeNewOrder">Make new order</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
{% include 'registration/footer.html' %}
