 {% load static %}
{% load widget_tweaks %}

{% include 'registration/header.html' %}
<body class="fixed-left">

{% include 'dashboard/dashboard_nav.html' %}
            <div class="content-page">
                <div class="content">
                    <input type="hidden" value="{{ user }}" id="user_details">
                    <div class="container">
                        <div class="row">
                        	<div class="col-sm-12">
                                <form class="form-horizontal" role="form" method="POST" action="{% url 'dashboard:account_settings' %}">
                                                                          {% csrf_token %}
                        			<div class="row">
                                       <div id="custom-modal">
                                            <h4 class="custom-modal-title">Basic Account Details</h4>
                                            <div class="custom-modal-text text-left">
                                                <form role="form" method="POST" action="{% url 'dashboard:add_family' %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                <div class="form-group">
	                                                <label class="col-md-2 control-label">Username</label>
	                                                <div class="col-md-10">
	                                                    <input type="text" name="username" id="username" placeholder="{{ user.username }}" class="form-control">
	                                                     <span class="help-block"><small>Your username is the name consumers see you as.</small></span>
                                                    </div>
	                                            </div>
                                                <div class="form-group">
	                                                <label class="col-md-2 control-label">Address</label>
	                                                <div class="col-md-10">
	                                                    <input type="text" name="address" id="address" placeholder="{% if not user.address %} Address {% else %} {{ user.address }}{% endif %}" class="form-control">
	                                                     <span class="help-block"><small>You facility's location</small></span>
                                                    </div>
	                                            </div>
                                               <div class="form-group">
	                                                <label class="col-md-2 control-label">City</label>
	                                                <div class="col-md-10">
	                                                    <input type="text" name="city" id="city" placeholder="{% if not user.city %} Address {% else %} {{ user.city }}{% endif %}" class="form-control">
	                                                     <span class="help-block"><small>You facility's location</small></span>
                                                    </div>
	                                            </div>
                                                    <div class="form-group">
	                                                <label class="col-md-2 control-label">Country</label>
                                                        <div class="col-md-10">
                                                            <input type="text" name="country" id="country" class="form-control"
                                                                   placeholder="{% if not user.country %} Country {% else %}
                                                                           {{ user.country }}{% endif %}"/>
                                                             <span class="help-block"><small>Country</small></span>
                                                        </div>
	                                                </div>
                                                 <div class="form-group">
	                                                <label class="col-md-2 control-label">Mobile Number</label>
                                                        <div class="col-md-10">
                                                            <input type="text" name="phone_number" id="phone_number" class="form-control"
                                                                   placeholder="{% if not user.phone_number %} Phone Number {% else %}
                                                                           {{ user.phone_number }}{% endif %}"/>
                                                             <span class="help-block"><small>A mobile number for emergency contact</small></span>
                                                        </div>
	                                                </div>
                                                 <div class="form-group">
	                                                <label class="col-md-2 control-label">Website</label>
                                                        <div class="col-md-10">
                                                            <input type="text" name="website" id="website" class="form-control"
                                                                   placeholder="{% if not user.website %} Website {% else %}
                                                                           {{ user.website }}{% endif %}"/>
                                                             <span class="help-block"><small>Do you have a personal website?</small></span>
                                                        </div>
	                                                </div>

                                                   <div class="form-group">
	                                                <label class="col-md-2 control-label">Description</label>
                                                        <div class="col-md-10">
                                                            <textarea rows="6" name="description" id="description" class="form-control" placeholder="{% if not user.description %} Description {% else %} {{ user.description }}{% endif %}"></textarea>
                                                             <span class="help-block"><small>Describe yourself and how you render your services</small></span>
                                                        </div>
	                                                </div>
                                                    <div class="form-group">
	                                                <label class="col-md-2 control-label">Image</label>
                                                        <div class="col-md-10">
                                                            <div class="card-box">
                                                                <input type="file" name="profile_image" class="dropify" data-height="100" />
                                                            </div>
                                                        </div>
	                                                </div>
                                                    <button type="submit" class="btn btn-lg btn-googleplus waves-effect waves-light">Update Details</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                        		</div>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
{% include 'dashboard/footer.html' %}
